$navigation-primary: #FDC2C6;
$navigation-primary-hover: #FDAAAF;
$navigation-primary-active: #F85F6A;
$navigation-dark: #d9535d;

nav.navigation-navbar {
  background-color: $navigation-primary;
  padding: 0;
}

button.navigation-navbar-toggle {
  margin: 5px;
  border-color: transparent !important;
}

a.navigation-nav-link {
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: 'Asap', sans-serif;
  font-weight: bold;
  font-size: 140%;
  color: black !important;

  &:hover {
    background-color: $navigation-primary-hover;
  }

  &.active {
    background-color: $navigation-primary-active;
    color: white !important;
  }
}

.nav-auth-button {
  margin: 5px 10px;
  background-color: $navigation-primary-active !important;
  border: none !important;
  border-radius: 5px !important;
  color: #ffffff !important;
  text-align: center;

  &:hover {
    background-color: $navigation-dark !important;
  }

  &:active {
    background-color: $navigation-dark !important;
  }

  &.active.focus,
  &.active:focus,
  &.focus,
  &.focus:active,
  &:active:focus,
  &:focus {
    box-shadow: none !important;
  }
}
