.baseprofile{
  // Size
  width: auto;
  // Positioning
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // Frame
  //border: 2px ridge black;
}

.salon-name-photo{
  // Positioning
  display: flex;
  flex-direction: column;
}

.salon-photo{
  // Photo proportion
  aspect-ratio: 16 / 9;
  max-width: 800px;
}

.salon-photo-button{
  // Colors
  background: #F85F6A;
  color: white;
  // Frame
  border: 1px solid #F85F6A;
  border-radius: 4px;
  // Positioning
  display: flex;
  justify-content: center;
  align-items: center;
  // Text
  font-size: 20px;
}

.salon-photo-button-container{
  // Positioning
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.salon-address{
  // Positioning
  display: flex;
  flex-display: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // Size
  width: 425px;
}

.salon-address-row{
  // Positioning
  display: flex;
  margin-top: 20px;
  // Width
  width: 100%;
}

.salon-address-blank{
  width: 3%;
}

.salon-address-row-text{
  // Positioning
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // Width
  width: 47%;
  // Text
  font-size: 20px;
}

.salon-address-row-value{
  // Positioning
  display: flex;
  justify-content: center;
  align-items: center;
  // Width
  width: 50%;
}

.salon-address-input{
  // Positioning
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  // Width
  width: 47%;
  // Text
  font-size: 20px;
}

.salon-address-button-container{
  // Positioning
  display: flex;
  justify-content: center;
  align-items: center;
}

.salon-address-button{
  // Colors
  background: #F85F6A;
  color: white;
  // Frame
  border: 1px solid #F85F6A;
  border-radius: 4px;
  // Positioning
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  // Size
  font-size: 20px;
  // Width
  min-width: 30px;
  // Height
  max-height: 30px;
}