.circle {
  display: flex;
  width: 125px;
  height: 125px;
  background-color: #FDAAAF;
  border-radius: 50%;
}

.textc {
  margin: auto;
  font-family: 'Asap', sans-serif;
  font-weight: bold;
  font-size: 200%;
  color: white;
}

.text {
  margin-top: 0.85cm;
  font-family: 'Asap', sans-serif;
  font-weight: bold;
  font-size: 200%;
  color: black;
}

.break {
  margin-bottom: 1cm;
}

.left_ {
  margin-left: 0.5cm;
}

.right_ {
  margin-right: 4.2cm;
}

.left-two {
  margin-left: 2.5cm;
}

.left-five {
  margin-left: 5.3cm;
}

.right-five {
  margin-right: 5.4cm;
}