$auth-primary: #F85F6A;
$auth-light: #FDAAAF;
$auth-darker-light: #fc848b;
$auth-dark: #d9535d;

@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

.checkbox {
  color: red;
  font-family: 'Asap', sans-serif;
  font-size: 25px;
}

.pictureBox {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  width: 60%;
  float: left;
  height: 90%;
}

.desktopForm {
  margin-top: 5%;
  margin-right: 5%;
  width: 25%;
  float: right;
  overflow: auto;

  .scrollbar {
    overflow-y: scroll;
  }

  .scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: $auth-light;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: $auth-primary;
  }
}

.companyName {
  text-align: center;
  font-family: 'Brush Script MT', sans-serif;
  font-weight: bold;
  font-size: 60px;
  color: $auth-primary;
  margin-top: 20%;
}

.formBox {
  font-family: 'Asap', sans-serif;
  margin: 5% 10%;
  text-align: left;
}

.formTitle {
  font-family: 'Asap', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.form {
  margin-top: 5%;
}

.formLabel {
  font-family: 'Asap', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: $auth-primary;
}

.button {
  background-color: $auth-primary !important;
  border: none !important;
  color: #ffffff;
  width: 100%;

  &:hover {
    background-color: $auth-dark !important;
  }

  &:active {
    background-color: $auth-dark !important;
  }

  &.active.focus,
  &.active:focus,
  &.focus,
  &.focus:active,
  &:active:focus,
  &:focus {
    box-shadow: none !important;
  }
}

.link {
  text-align: center;
  font-family: 'Asap', sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15%;
  color: black;

  a:link {
    color: $auth-primary;
  }

  a:visited {
    color: $auth-dark;
  }

  a:hover {
    color: $auth-dark !important;
  }

  a:active {
    color: $auth-dark !important;
  }
}