$border: #FDC2C6;
$button-primary: #F85F6A;
$label: #F85F6A;
$button-hover: #D9535D;

.text {
  font-family: 'Asap', sans-serif;
}

.border {
  border: 2px solid $border;
  border-radius: 10px;
}

.buttonPrimary {
  background-color: $button-primary !important;
  border: none !important;

  &:hover {
    background-color: $button-hover !important;
  }

  &:active {
    background-color: $button-hover !important;
  }
}

.buttonSecondary {
  background-color: transparent !important;
  border: none !important;
  color: black !important;
}

:local(.servicesTab) {
  color: black;

  &:hover {
    color: $button-hover;
  }

  :global &.active {
    background-color: $button-primary !important;

    &:hover {
      color: white;
    }
  }
}

.activeTab {
  background-color: $button-primary !important;
}

.formTitle {
  font-family: 'Asap', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.formLabel {
  font-family: 'Asap', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: $label;
}

.formCheckbox {
  font-family: 'Asap', sans-serif;
  font-size: 15px;
}
